@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: iawriter-mono;
	font-weight: 700;
	font-style: normal;
	src: url('./assets/fonts/iAWriterMonoS-Bold.ttf');
}

@font-face {
	font-family: iawriter-mono;
	font-weight: 700;
	font-style: italic;
	src: url('./assets/fonts/iAWriterMonoS-BoldItalic.ttf');
}

@font-face {
	font-family: iawriter-mono;
	font-weight: 400;
	font-style: italic;
	src: url('./assets/fonts/iAWriterMonoS-Italic.ttf');
}

@font-face {
	font-family: iawriter-mono;
	font-weight: 400;
	font-style: normal;
	src: url('./assets/fonts/iAWriterMonoS-Regular.ttf');
}

:root {
	font-family: iawriter-mono, monospace;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--text-primary);
	background-color: var(--bg-primary);
	/* color: rgba(255, 255, 255, 0.87);
	background-color: #191919; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--text-primary: rgba(255, 255, 255, 0.87);
	--text-secondary: #191919;
	--text-highlight: rgb(5, 150, 105);
	--bg-primary: #191919;
	--bg-secondary: rgba(255, 255, 255, 0.87);
	--card-bg: #2f2f2f;
}

#root {
	text-align: center;
}

a {
	color: var(--text-highlight);
	text-decoration: inherit;
	cursor: pointer;
}

a:hover {
	color: var(--text-highlight);
	text-decoration: underline;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	min-width: 320px;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h5,
input {
	font-family: iawriter-mono, monospace;
	font-weight: 700;
	font-style: normal;
}

input,
select {
	height: 40px;
	border: 1px solid var(--bg-secondary);
}

h1 {
	font-size: 2rem;
}

h2 {
	font-style: italic;
}

button:hover {
	font-weight: 700;
	text-decoration: underline;
	text-underline-offset: 2px;
}

code {
	color: rgb(207, 63, 63);
	background-color: var(--card-bg);
	padding: 4px;
	border-radius: 6px;
}

pre {
	background-color: var(--card-bg);
	padding: 10px 5px;
	border-radius: 6px;
	tab-size: 2;
}

html[data-theme='light'] {
	--text-primary: #213547;
	--text-secondary: #ffffff;

	--bg-primary: #f8f2e2;
	--bg-secondary: #213547;

	--card-bg: #ffffff;
}

html[data-theme='dark'] {
	--text-primary: rgba(255, 255, 255, 0.87);
	--text-secondary: #191919;

	--bg-primary: #191919;
	--bg-secondary: rgba(255, 255, 255, 0.87);

	--card-bg: #2f2f2f;
}

@media (prefers-color-scheme: light) {
	:root {
		/* color: #213547; */
		/* background-color: #ffffff; */

		--text-primary: #213547;
		--text-secondary: #ffffff;
		--bg-primary: #f8f2e2;
		--bg-secondary: #213547;
		--card-bg: #ffffff;
	}
}
