@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: iawriter-mono;
	font-weight: 700;
	font-style: normal;
	src: url('./assets/fonts/iAWriterMonoS-Bold.ttf');
}

@font-face {
	font-family: iawriter-mono;
	font-weight: 700;
	font-style: italic;
	src: url('./assets/fonts/iAWriterMonoS-BoldItalic.ttf');
}

@font-face {
	font-family: iawriter-mono;
	font-weight: 400;
	font-style: italic;
	src: url('./assets/fonts/iAWriterMonoS-Italic.ttf');
}

@font-face {
	font-family: iawriter-mono;
	font-weight: 400;
	font-style: normal;
	src: url('./assets/fonts/iAWriterMonoS-Regular.ttf');
}

:root {
	/* font-family: iawriter-mono, monospace; */
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--text-primary);
	background-color: var(--bg-primary);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--text-primary: rgba(255, 255, 255, 0.87);
	--text-secondary: #191919;
	--text-highlight: rgb(5, 150, 105);
	--bg-primary: #191919;
	--bg-secondary: rgba(255, 255, 255, 0.87);
	--card-bg: #2f2f2f;
	--monster-card: #b91c1c;
	--spell-card: #0369a1;
	--character-card: #15803d;
}

a {
	color: var(--text-highlight);
	text-decoration: inherit;
	cursor: pointer;
}

a:hover {
	color: var(--text-highlight);
	text-decoration: underline;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	min-width: 320px;
	min-height: 100vh;
}

input,
select {
	border-radius: 0.4rem;
	height: 40px;
	background: var(--bg-primary);
	font-weight: 400;
	border: none;
}

button {
	background: var(--bg-primary);
	padding: 4px 6px;
	border-radius: 0.4rem;
	border: none;
	font-size: 0.75rem;
	color: var(--text-primary);
}

h1 {
	font-size: 2rem;
}

code {
	color: rgb(207, 63, 63);
	background-color: var(--card-bg);
	padding: 4px;
	border-radius: 6px;
}

pre {
	background-color: var(--card-bg);
	padding: 10px 5px;
	border-radius: 6px;
	tab-size: 2;
}

html[data-theme='light'] {
	--text-primary: #213547;
	--text-secondary: #ffffff;

	--bg-primary: #ececec;
	--bg-secondary: #ffffff;
	--bg-highlight: #213547;

	--btn-secondary: #d5d5d5;

	--card-bg: #ffffff;
}

html[data-theme='dark'] {
	--text-primary: rgba(255, 255, 255, 0.87);
	--text-secondary: #191919;

	--bg-primary: #191919;
	--bg-secondary: rgb(39 39 42);
	--bg-highlight: rgba(255, 255, 255, 0.87);

	--btn-secondary: #2f2f2f;

	--card-bg: #2f2f2f;
}
